:root {
    --bg-color: hsl(47, 88%, 63%);
    --bg-card-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 42%);
    --title-color: hsl(0, 0%, 7%);
    font-size: 16px;
    font-weight: 500;
    font-family: 'Figtree', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}


.card {
    background-color: var(--bg-card-color);
    width: 400px;
    max-height: fit-content;
    margin: auto;
    display: grid;
    gap: 15px;
    padding: 20px;
    border-color: var(--title-color);
    border-width: 0.1em;
    border-style: solid;
    box-shadow: 10px 10px var(--title-color);
}

figure img {
    width: 100%;
}

.subtitle {
    background-color: var(--bg-color);
    max-width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
}

p {
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.5;
}

.border {
    border-radius: 20px;
}

.author {
    display: flex;
    align-items: center;
    gap: 15px;
}

.author img {
    width: 40px;
    height: 40px;
}

.bold {
    font-weight: 800;
    color: var(--title-color);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin: 20px; 
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}

h2 a {
    text-decoration: none;
    color: var(--title-color);
}

h2 a:hover {
    color: var(--bg-color);
}

@media (max-width: 450px) {
    .card {
        width: 80%;
    }
}
