@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* font */
    --fs: 14px;
    --fw-s: 500;
    --fw-l: 700;

    /* colors */
    --c-light-green: hsl(158, 36%, 37%);
    --c-dark-green: hsl(158, 42%, 18%);

    --c-title: hsl(212, 21%, 14%);
    --c-text: hsl(228, 12%, 48%);
    --bg-page: hsl(30, 38%, 92%);
    --bg-content: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;

    background: var(--bg-page);

    font-family: "Montserrat", sans-serif;
    font-weight: var(--fw-s);
    color: var(--c-text);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch; 
  flex-wrap: nowrap;
  border-radius: 1em;
  overflow: hidden;
  width: 60%;
  height: fit-content;
  background: var(--bg-content);
}

.image,
.content {
  flex: 1 1 50%;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.content {
    background: var(--bg-content);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 2em;

    gap: 1.5em;
}

.category {
    letter-spacing: 0.5em;
    text-transform: uppercase;
}

.name {
    font-family: "Fraunces", serif;
    font-weight: var(--fw-l);
    font-size: xx-large;
    color: var(--c-title);
}

.price {
    font-weight: var(--fw-l);
    font-size: xx-large;
    font-family: "Fraunces", serif;
    color: var(--c-light-green);

    display: flex;
    align-items: center;
    gap: 0.5em;
}

.price .discount {
    font-weight: var(--fw-s);
    color: var(--c-text);
    font-size: var(--fs);
    text-decoration: line-through;
}

button {
    color: var(--bg-content);
    background: var(--c-light-green);
    border: none;

    display: flex;
    justify-content: center;
    gap: 1em;

    width: 100%;
    padding: 1em;

    border-radius: 0.5em;
    cursor: pointer;
}

button:hover {
    background: var(--c-dark-green);
}

.attribution { 
    position: absolute;
    bottom: 10px;
    justify-content: center;
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 770px) {

    body {
        font-size: 0.8em;
        margin-top: 2em;
        height: max-content;
        gap: 2em;
    }

    .wrapper {
        flex-direction: column;
        width: 90%;
    }

    .image,
    .content {
        flex: 1 1 100%;
    }

    .image img {
        height: auto;
    }

    .attribution {
        position: static;
    }
}