:root {
    --color-card: hsl(0, 0%, 100%);
    --bg-color: hsl(212, 45%, 89%);
    --color-par: hsl(216, 15%, 48%);
    --color-title: hsl(218, 44%, 22%);
    --font-bold: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
}

body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

#card{
    background-color: var(--color-card);
    border-radius: 1em;
    padding: 1em;
    width: 280px;
    scale: 1.4;
}

#card>figure>img {
    border-radius: 1em;
    width: 100%;
}

#title {
    font-size: large;
    font-weight: 700;
    color: var(--color-title);
    padding: 1em;
}

#description{
    color: var(--color-par);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: absolute;
    bottom: 1em;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

